doctype html
html(lang="en")
    head
        title=智慧图书馆管理平台

        link(rel="stylesheet", type="text/css", href="./bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="./css/jquery.dataTables.min.css")
        link(rel="stylesheet", type="text/css", href="./css/style.css")
    
        script(type='text/javascript', src="./js/jquery.min.js")
        script(type='text/javascript', src="./bootstrap/js/bootstrap.min.js")
        script(type='text/javascript', src="./js/jquery.dataTables.min.js")
        script(type='text/javascript', src="./layer/layer.min.js")
        script(type='text/javascript', src="./js/button.js")
    
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand#title(href="#")
                .collapse.navbar-collapse#navbar1
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") 图书相关
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a#record(href="#") 图书录入
                                li
                                    a#manage(href="#") 图书管理
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") 一卡通相关
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a#bind(href="#") 一卡通绑定
                                li
                                    a#unbind(href="#") 一卡通解绑
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") 监控相关
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a#xbeeAdd(href="#") 添加监控节点
                                li
                                    a#xbeeManage(href="#") 监控节点管理
                        
                        li
                            a#setting(href="#") 串口设定

                    ul.nav.navbar-nav.navbar-right
                        li
                            a#exit(href="#") 退出

        .container-fluid#container
            block content
