extends layout

block content
    script(type='text/javascript', src="./js/manage.js")

    table#bookTable
        thead
            tr
                th 书名
                th 作者
                th ISBN
                th 出版社
                th 入库时间

        tbody
